<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-spacer></v-spacer>
      <div class="d-flex align-center">
       <h3>Southern Nevada Food Banks</h3>
      </div>

      <v-spacer></v-spacer>

    </v-app-bar>

    <v-content>

<v-container>

<div class="d-flex flex-row justify-center">
  <h4>Data Last updated 3/12/2020, 11:00am</h4>
</div>
  
<v-card class="mt-4">
  <v-card-title>
    <v-spacer></v-spacer>
    <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Quick Search (Enter a Zip Code, Day of the Week, etc)"
        single-line
        hide-details
      ></v-text-field>
  </v-card-title>

  <v-data-table
    :search="search"
    :headers="headers"
    :items="listData"
    item-key="ZIP + Name + Address + Phone + Operating"
    sort-by="ZIP"
    :sort-desc="false"
    class="elevation-1"
    :custom-filter="customFilter"
    disable-pagination
  >
  </v-data-table>
</v-card>
  <h3>V1.1</h3>
  <br><br><br><br><br>

</v-container>

    <v-footer dark color="primary" fixed class="d-flex justify-center">
      Created by <a style="color:white;" class="ml-1" href="https://www.dedicatedmanagers.com" target="_blank">Dedicated Managers, Inc.</a>
    </v-footer>
    </v-content>

  </v-app>
</template>

<script>
import data from '@/js/data.js';

export default {
  name: 'App',

  components: {
  },

  data: () => ({
    listData: [],
    search:"",
    headers: [
          { text: 'Zip', value: 'ZIP' },
          { text: 'Model', value: 'Model' },
          { text: 'Name', value: 'Name' },
          { text: 'Address', value: 'Address' },
          { text: 'City', value: 'City' },
          { text: 'Operating', value: 'Operating' },
        ],    
  }),
  methods: {
    customFilter (value, search, item) {
      console.log('customFilter', value, search, item);
      console.log(search.split(' '));
      let searchTerms = search.split(' ');
      searchTerms.forEach( term=>{
        if(item.ZIP.toString().includes(term)){
          console.log('found', term, "in", item);
        }
        console.log('foreach', term, item);
      });
      
      return true;
    },
  }, 
  beforeMount: function(){
    this.listData = data.map( item=>{
      let newItem = item;
      newItem.Operating = newItem.Operating.replace('Monday through Friday', 'Monday, Tuesday, Wednesday, Thursday, Friday');
      newItem.Operating = newItem.Operating.replace('Monday through Thursday', 'Monday, Tuesday, Wednesday, Thursday');
      newItem.Operating = newItem.Operating.replace('Monday through Saturday', 'Monday, Tuesday, Wednesday, Thursday, Friday, Saturday');
      return newItem;
    });
  },
};
</script>
