<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-spacer></v-spacer>
      <div class="d-flex align-center">
       <h3>Southern Nevada Food Banks</h3>
      </div>

      <v-spacer></v-spacer>

    </v-app-bar>

    <v-content>

<v-container>

<div class="d-flex flex-column align-center">
  <h4>Interface Data Last updated 5/08/2020, 5:30pm</h4>
  <a href="https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vS01doR2gqv-zPHMp8ZVmB-3iDunPJSCpmPcrD4nLWAKGBH3lmNXQZVw7RegMZUFjOjumKYJebLrjuv/pubhtml?gid=0&single=true" target="_blank">Data Source &raquo;</a>
</div>
  
<v-card class="mt-4">
  <v-card-title>
    <v-spacer class="hidden-sm-and-down"></v-spacer>
    <v-text-field v-model="search" append-icon="mdi-magnify" label="Quick Search (Enter a Zip Code, Day of the Week, etc)" single-line hide-details ></v-text-field>
  </v-card-title>
  <v-card-title class="d-flex flex-row">
    <v-select style="max-width:150px;" :items="zipSelect" solo label="Choose a Zip Code" v-model="zipSelectValue"></v-select>
    <v-select style="max-width:150px;" :items="daySelect" solo label="Choose a Day" v-model="daySelectValue"></v-select>
  </v-card-title>

  <div class="d-flex flex-column align-center">
    <strong>Click on a column heading to sort by that column.</strong>
  </div>
  <v-data-table
    :search="search"
    :headers="headers"
    :items="filteredListData"
    item-key="ZIP + Name + Address + Phone + Operating + Start"
    sort-by="ZIP"
    :sort-desc="false"
    class="elevation-1"
    disable-pagination
  >
  </v-data-table>
</v-card>
  V1.6
  <br><br><br><br><br>

</v-container>

    <v-footer dark color="primary" fixed class="d-flex justify-center">
      Created by <a style="color:white;" class="ml-1" href="https://www.dedicatedmanagers.com" target="_blank">Dedicated Managers, Inc.</a>
    </v-footer>
    </v-content>

  </v-app>
</template>

<script>
//import data from '@/js/data.js';
import data from '@/js/data.json'

export default {
  name: 'App',

  components: {
  },

  data: () => ({
    listData: [],
    daySelect:['Choose Day','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'],
    daySelectValue:"Choose Day",
    zipSelect:["Choose Zip", 89005,89011],
    zipSelectValue:"Choose Zip",
    search:"",
    headers: [
          { text: 'Zip', value: 'ZIP' },
          { text: 'Model', value: 'Model' },
          { text: 'Name', value: 'Name' },
          { text: 'Address', value: 'Address' },
          { text: 'City', value: 'City' },
          { text: 'Phone', value: 'Phone' },
          { text: 'Start', value: 'Start' },
          { text: 'Operating', value: 'Operating' },
        ],    
  }),
  computed: {
    filteredListData () { return this.listData.filter( item=>{
        //console.log('filter', item, this.daySelectValue);
        let hasDay = false;
        let hasZip = false;
        if(this.daySelectValue == "Choose Day" && this.zipSelectValue == "Choose Zip") return true; // no filtering

        return (this.daySelectValue=="Choose Day" || item.Start.toLowerCase().includes(this.daySelectValue.toLowerCase())) && (this.zipSelectValue == "Choose Zip" || item.ZIP.toString().includes(this.zipSelectValue));
      });
    }
  },
  beforeMount: function(){
    this.listData = data.map( item=>{
      let newItem = item;
      newItem.Start = newItem.Start.replace('Monday through Friday', 'Monday, Tuesday, Wednesday, Thursday, Friday');
      newItem.Start = newItem.Start.replace('Monday through Thursday', 'Monday, Tuesday, Wednesday, Thursday');
      newItem.Start = newItem.Start.replace('Monday through Saturday', 'Monday, Tuesday, Wednesday, Thursday, Friday, Saturday');
      return newItem;
    });

    let zipArray = data.map( item=>{
      return item.ZIP;
    });

    let zipArraySet = new Set(zipArray);  // get unique
    this.zipSelect = [...zipArraySet].sort(); // convert back to array
    this.zipSelect.unshift('Choose Zip');

    console.log(this.zipSelect);
  },
};
</script>
