<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-spacer></v-spacer>
      <div class="d-flex align-center">
       <h3>Southern Nevada Food Banks</h3>
      </div>

      <v-spacer></v-spacer>

    </v-app-bar>

    <v-content>

<v-container>
  
<v-card>
  <v-card-title>{{daySelectValue}}
    <v-spacer></v-spacer>
    <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Quick Search (Enter a Zip Code, Day of the Week, etc)"
        single-line
        hide-details
    ></v-text-field>
    <v-select
      :items="daySelect"
      solo
      label="Day of The Week"
      v-model="daySelectValue"
      :change="daySelectChange()"
    ></v-select>
 </v-card-title>
        
  <v-data-table
    :search="search"
    :headers="headers"
    :items="listData"
    item-key="ZIP + Name + Address + Phone + Operating"
    sort-by="ZIP"
    :sort-desc="false"
    class="elevation-1"
    disable-pagination
  >
  </v-data-table>
</v-card>
  <h3>V1.0 - Last updated 3/12/2020, 11:00am</h3>
  <br><br><br><br><br>

</v-container>

    <v-footer dark color="primary" fixed class="d-flex justify-center">
      Created by <a style="color:white;" class="ml-1" href="https://www.dedicatedmanagers.com" target="_blank">Dedicated Managers, Inc.</a>
    </v-footer>
    </v-content>

  </v-app>
</template>

<script>
import data from '@/js/data.js';

export default {
  name: 'App',

  components: {
  },

  data: () => ({
    listData: [],
    daySelect:['Any','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'],
    daySelectValue:"",
    search:"",
    headers: [
          { text: 'Zip', value: 'ZIP' },
          { text: 'Model', value: 'Model' },
          { text: 'Name', value: 'Name' },
          { text: 'Address', value: 'Address' },
          { text: 'City', value: 'City' },
          { text: 'Operating', value: 'Operating' },
        ],    
  }),
  watch:{
  },
  methods:{
    daySelectChange(){
      return true;
      console.log('daySelectChange', this.daySelectValue);
      if(this.daySelectValue == "" || this.daySelectValue == "Any"){
        console.log("any or empty");
        this.resetListData();
      }
      else{
        console.log('length before', data.length)
        let newListData = data.filter(item=>{
          console.log('item', item);
          if(item.Operating.includes(this.daySelectValue)){
            console.log('checking', item.Operating, this.daySelectValue, item.Operating.includes(this.daySelectValue));
            return true;
          }
        });
        console.log('length after', newListData.length);
        //this.listData = newListData;
      }

    },
    resetListData(){
      console.log('resetListData');
      this.listData = data.map( item=>{
        let newItem = item;
        newItem.Operating = newItem.Operating.replace('Monday through Friday', 'Monday, Tuesday, Wednesday, Thursday, Friday');
        newItem.Operating = newItem.Operating.replace('Monday through Thursday', 'Monday, Tuesday, Wednesday, Thursday');
        newItem.Operating = newItem.Operating.replace('Monday through Saturday', 'Monday, Tuesday, Wednesday, Thursday, Friday, Saturday');
        return newItem;
      });
    }
  },
  beforeMount: function(){
    this.resetListData();
  },
};
</script>
